{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deep daiv.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% include 'single_pages/font.html' %}
</head>

<body>
    {% include 'single_pages/template.html' %}
    <!-- about_us -->
    <header class="py-2">
        <div class="container-xxl px-lg-5">
            <div class="p-4 p-lg-5" style="background-color : #FFFFFF; ">
                <div class="m-4 m-lg-5 text-sm-left">

                    <h3 class="display-6" style="color: #264a8e;"> 인공지능 입문자를 위한 커뮤니티</h3>

                    <h2 class="display-4 fw-bold" style="color: #264a8e;"> 딥 다이브가 추구하는 가치</h1>
                        <br>
                        <p style="font-size: 20px;">deep daiv.는 <b>인공지능 대중화</b>를 위해 기획된 프로젝트팀입니다.<br> 비 전공자들이 가진 인공지능에
                            대한 막연한 두려움과 오해를 풀고 <br>
                            흥미로운 인공지능 활용방법을 소개합니다.
                        </p>
                        <br>
                        <br>
                        <div class="row g-0">
                            <div class="col-sm-6 col-md-8">
                                <h3 class="display-6" style="color: #264a8e;"><b>deep daiv.</b>는 무슨 뜻인가요?</h3>
                                <br>
                                <p style="font-size: 20px;">
                                    <b>deep daiv.</b>는 깊이 빠지다/ 파고든다는 의미의'deep dive'와<br>
                                    인공지능 AI를 합친 표현입니다.<br>
                                    인공지능이라는 거대한 바다에 깊이 파고들자는 의미를 담고 있습니다.
                                </p>
                            </div>
                            <div class="col-6 col-md-4">
                                <img src="{%static 'img/daiv_d.png'%}" style="width: 200px;">
                            </div>
                        </div>
                        <br>
                        <br>
                        <h3 class="display-6" style="color: #264a8e;"><b>deep daiv.</b>는 무엇을 하나요?</h3>
                        <br>
                        <br>
                        <br>
                        <!-- 수정 예정 (반응형으로 보니까 완전 엉망이네;;)-->
                        <div class="container text-center">
                            <div class="row gx-5 row-cols-1 row-cols-sm-2 ">
                                <div class="col">
                                    <div class="p-3">
                                        <h3 class="display-7" style="color: #264a8e;"> 인스타그램 딥러닝 <br> 카드뉴스 </h3>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="p-3">
                                        <h3 class="display-7" style="color: #264a8e;">블로그 논문 리뷰<br> /아티클 </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container text-center">
                            <div class="row gx-5 row-cols-1 row-cols-sm-2 ">
                                <div class="col">
                                    <div class="p-3">
                                        <h3 class="display-7" style="color: #264a8e;">Weekly AI ArXiv <br> 뉴스레터 </h3>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="p-3">
                                        <h3 class="display-7" style="color: #264a8e;">비전공자를 위한 <br> 인공지능 매거진 </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <p style="font-size: 20px;">
                            더 깊게 공부해보고 싶은 사람들을 위해 <b>공개 스터디</b>를 진행합니다.
                            <br>
                            <br>
                            그 밖에 <b>오픈 세미나/On-board 컨퍼런스 TIL 챌린지/ 논문 읽기 모임</b>
                            <br>자유롭게 참여할 수 있는 이벤트도 많이 열고 있어요!
                        </p>
                        <br>
                        <br>
                        <h3 class="display-6" style="color: #264a8e;"> <b>deep daiv.</b>콘텐츠는 누가 만드나요?</h3>
                        <br>
                        <p style="font-size: 20px;">
                            deep daiv.는 인공지능을 공부하고자 하는 약 30명의 대학생들이<br>
                            각 수준에 맞는 팀에 속하여 콘텐츠를 만들어 갑니다.<br>
                            <br>
                            <b>콘텐츠를 같이 만들고 싶어요!</b>
                            <br>
                            deep daiv는 학교와 학년에 상관없이 주도적으로 공부하고,<br>
                            본인의 아이디어를 펼치고 싶은 학생들을 모집합니다.
                            <br>
                            <br>
                            deep daiv 팀원은 계절별로 모집합니다.<br>
                            3월/6월/9월/12월 말에 deep daiv 인스타 그램을 통해 모집공고가 올라오니,
                            <br>
                            관심 있으신 분들은 deep daiv. 인스타그램 채널을 꼭 팔로우 해주세요!
                        </p>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <a class="btn btn-primary" style="background-color: #264a8e; color:#FFFFFF; width: 80%; font-size: 20px; 
                                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); " href="#"
                                    role="button">deep daiv. Slack 채널 가입하러 가기</a>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-primary" style="background-color: #264a8e; color:#FFFFFF; width: 80%; font-size: 20px;
                                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);"
                                    href="https://www.instagram.com/deep.daiv/" role="button">deep daiv. 인스타그램 팔로우하러가기</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </header>

    {% include 'single_pages/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</body>

</html>