{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deep daiv.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% include 'single_pages/font.html' %}
</head>
<body>
    {% include 'single_pages/template.html' %}

    <header class="py-2">
        <div class="container-xxl px-lg-5">
            <div class="p-4 p-lg-5" style="background-color : #FFFFFF; ">
                <div class="m-4 m-lg-5 text-sm-left">

                    <h3 class="display-6" style="color: #264a8e;"> 인공지능이라는 깊은 바다를 탐험할 당신을 위한 <br>
                        AI 컨퍼런스 <b>deep daiv. On-board</b>에 초대합니다</h3>
                    <br>

                    <h2 class="display-4 fw-bold" style="color: #264a8e;">On-board 란?</h1>
                        <br>
                        <p style="font-size: 20px;">On-board는 deep daiv.가 주관하는 인공지능 컨퍼런스입니다. ‘deep daiv into AI’에서 유래한 deep daiv.의 취지에 맞게 인공지능에 깊게 빠지기 전 ‘On board’ 할 수 있는 장을 마련했습니다. 
                            <br>
                            이번 제1회 On-board에서는 인공지능과 데이터 분석, 시각화 등을 주제로 한 team daiv.의 발표와 초청 연사분들의 특강이 있을 예정입니다. 실제 프로젝트 데모와 참가자분들을 위한 네트워킹 시간도 마련되어 있습니다.
                            <br>
                            인공지능에 관심이 많은 학생과 현직자분들, 인공지능이 무엇인지 궁금하신 입문자분들 등 다양한 분들이 함께해주실 예정입니다. 공통 관심사인 인공지능을 통해 서로 교류할 수 있는 소중한 시간이 될 것입니다.
                        </p>
                        <br>
                        <br>
    
                    <h2 class="display-5 fw-bold" style="color: #264a8e;">On-board 참여 혜택</h1>
                        <br>
                        <p style="font-size: 20px;">희망 참가자분들에 한하여 자기를 소개할 수 있는 개인 노션 페이지를 생성해드리며, On-board 당일 명찰을 제공합니다. 
                            <br>
                            deep daiv.의 Slack Private 채널에 초대해드리며, 텀블벅에서 진행한 매거진 <deep daiv. vol.1> ‘온보드’ 기프트 후원자분들께는 당일 리워드 대면 선수령 가능 혜택을 제공합니다. 오전부터 늦은 오후까지 진행되는 스케줄인 만큼 간단한 점심도 제공될 예정입니다.
                            
                        </p>
                        <br>
                        <br>
                    <h2 class="display-5 fw-bold" style="color: #264a8e;">On-board 기본 정보</h1>
                        <br>
                        <p style="font-size: 20px;">
                             <b>일　시 | </b>2022년 10월 1일(토) 오전 10시 ~ 오후 5시
                            <br>
                            <b>장　소 | </b>마루180 (서울 강남구 역삼로 180)
                            <br>
                            <b>참가비 | </b>1인당 최소 10,000원 이상의 자유로운 후원금       
                        </p>
                        <br>
                        <br>                  
                    <h2 class="display-5 fw-bold" style="color: #264a8e;">기타 상세 내용</h1>
                        <br>
                        <p style="font-size: 20px;">
                            - 참가비는 후원금의 개념으로 1인 기준 최소 10,000원 이상입니다. 따라서 deep daiv.의 취지에 공감하여 최소 금액 이상의 후원을 해주셔도 좋습니다. 
                            On-board에 참석하지 안 하고 후원만 해주셔도 좋습니다. 소중한 후원금은 인공지능의 대중화를 위한 운영비에 쓰입니다.
                            <br>
                            - On-board에 참석이 불가능하다는 이유 등으로 환불은 어렵습니다. 참석이 전제되지 않더라도 후원금을 받기 때문이니 신중한 후원 부탁드립니다.
                            <br>
                            - 당일 현장에서 후원 내역 확인 후 On-board 티켓이 제공되며, 티켓이 있어야 입장이 가능합니다.
                            <br>
                            - 타인에게 On-board 티켓을 양도하는 것은 가능하지만, 후원 내역을 확인할 때 양도된 사실이 증명되어야 합니다.
                            <br>
                            - 초청 연사 라인업과 특강 주제는 On-board 전까지 deep daiv. 블로그에서 차례로 공개할 예정입니다.
                            <br>
                            - 대관 장소의 수용 가능 규모(150석) 초과 시 장소가 변경될 수 있습니다.
                        </p>
                        <br>
                        <br>     
                    
                        <h3 class="display-8" style="color: #264a8e;"> On-board 관련 문의는 deep daiv. 인스타그램 계정 DM으로 연락해주시기를 바랍니다. </h3>
                        <br>
                        <br>
                        <div class="row gx-2" style="text-align: center;">
                            <div class="col-md">
                                <div class="p-3">
                                <a class="btn btn-primary" style="background-color: #264a8e; color:#FFFFFF; width: 80%; font-size: 20px; 
                                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); border-color: #264a8e;" href="https://deepdaiv.slack.com/"
                                    role="button">deep daiv. 온보드 컴퍼런스 참여신청하기</a>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="p-3">
                                <a class="btn btn-primary" style="background-color: #264a8e; color:#FFFFFF; width: 80%; font-size: 20px;
                                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); border-color: #264a8e;"
                                    href="https://www.instagram.com/deep.daiv/" role="button">deep daiv. 인스타그램 팔로우하러가기</a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <img src="{%static 'img/poster.png'%}" style="width: auto;">
                        <br>
                        <br>

                </div>
            </div>
        </div>
    </header>

    {% include 'single_pages/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</body>

</html>