
    <nav class="navbar navbar-expand-lg " style="background-color: #FFFFFF; ">
        <div class="container px-lg-5 " >
            <a class="navbar-brand" style="color: #264a8e;" href="#!"><strong>deep daiv.</strong></a>
            <!-- 버튼 수정 해야됨 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-3"><a class="nav-link" style="color: #264a8e;" href="about_us/"><strong>다이브 소개</strong></a></li>
                    <li class="nav-item mx-3"><a class="nav-link" style="color: #264a8e;" href="post/"><strong>포스트</strong></a></li>
                    <li class="nav-item mx-3"><a class="nav-link" style="color: #264a8e;" href="paper_review/"><strong>논문 리뷰</strong></a></li>
                    <li class="nav-item mx-3"><a class="nav-link" style="color: #264a8e;" href="wiki/"><strong>위키</strong></a></li>
                    <li class="nav-item mx-3"><a class="nav-link" style="color: #264a8e;"href="study/"><strong>스터디</strong></a></li>
                    <li class="nav-item mx-3"><a class="nav-link" style="color: #264a8e;"href="event/"><strong>이벤트</strong></a></li> 
                </ul>
            </div>
        </div>
    </nav>
    <hr class="hr-13" style="height: 1px; border: 0; box-shadow: 0px 1px 3px 1px #8c8c8c ; margin: 0px; ">
